[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
typer = "*"
numpy = "*"
box2d = "*"
gym = ">=0.15.3"

[dev-packages]

[requires]
python_version = "3.7"
